#logoContainerNCDB {
    width: 45px;
    margin-left: 15px !important;
    background: url(../images/logoNCDB.png) no-repeat;
}

#logoContainerTAD {
    width: 115px;
    background: url(../images/logoTAD.png) no-repeat;
}

#logoContainerIDEA {
    width: 68px;
    background: url(../images/logoIDEA.png) no-repeat;
    margin-left: 1px !important;
}

#logoContainerNCDB, #logoContainerTAD, #logoContainerIDEA {
    min-height: 55px;
    float: left;
    margin: 2px 2px 0 0;
    display: block;
}

div.box {

}

.newsBox {
	font-size: 11px;
	float: left;
	margin: 8px 0 0 12px;
	padding: 3px;
	border: 1px solid #C1BF8E;
	background: #F5F5DF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}