/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	overflow: hidden;
}

body {
	/*
		Pre-load #nav_arrow image.
	*/
	background: #fff url(../images/ui/nav_arrow.png) no-repeat -99999px -99999px;
	color: #333;
	cursor: default;
}

a {
	color: #06c;
}

a:visited {

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	line-height: 1;
}

h1 {
    color: #990000;
    text-decoration: none;
    font-size: 2.2em;
}

.homePopup {
    color: #990000;
    text-decoration: none;
}

h1.subPageHeader {
    color: #0482f3;
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

.subText {
    font-size: .9em;
    color: #666;
}

.orangeText {
    color: #e06023 !important;
}

/* `Misc
----------------------------------------------------------------------------------------------------*/

.abs {
	position: absolute;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
}

.cancel {
	color: #c00;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

/*
	Added via JS to <textarea> and class="input_full"
*/
.input_full_wrap {
	display: block;
	padding-right: 8px;
}

.gutter_left {
	padding-left: 20px;
}

.gutter_right {
	padding-right: 20px;
}

/* `Data Table
----------------------------------------------------------------------------------------------------*/

table.data {
	border: 1px solid #ddd;
	width: 100%;
}

table.data th,
table.data td {
	padding: 5px 10px;
}

table.data thead th {
	background: #eee url(../images/ui/data_th.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
	background: -moz-linear-gradient(top center, #fff 0%, #eee 100%);
	border-bottom: 1px solid #ddd;
	text-shadow: #fff 0 1px 0;
}

table.data tbody > tr:nth-child(even) {
	background: #edf3fe;
}

/* `Horizontal Table
----------------------------------------------------------------------------------------------------*/

table.horiz td {
	padding: 20px 0 0 20px;
}

table.horiz tr:first-child td {
	padding-top: 0;
}

table.horiz tr td:first-child {
	padding-left: 0;
}

/* `Buttons
----------------------------------------------------------------------------------------------------*/

.button {
	background: #666 url(../images/ui/button_light.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #666));
	background: -moz-linear-gradient(top center, #ccc 0%, #666 100%);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #666 #999 #fff;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 27px;
	margin: 8px 0 0;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
	height: 28px;
}

.button:active,
.button_active {
	background: #333 url(../images/ui/button_light_active.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(1, #333));
	background: -moz-linear-gradient(top center, #999 0%, #333 100%);
}

.button-orange {
	background: url(../images/ui/button_orange.png) repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #df5f22;
	color: #fff;
	display: inline-block;
	font-size: 12px;
    font-weight: bold;
	line-height: 27px;
	margin: 8px 0 0;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
	height: 28px;
    text-shadow: #df5f22 0 1px 0;
}

.button-orange:active,
.button-orange_active {
	background: url(../images/ui/button_orange_active.png) repeat-x;
}

.button-red, .button-blue {
	background: url(../images/ui/button_red.png) repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #990000;
	color: #fff;
	display: inline-block;
	font-size: 12px;
  font-weight: bold;
	line-height: 27px;
	margin: 8px 0 0;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
	height: 28px;
  text-shadow: #990000 0 1px 0;
}

.button-red:active,
.button-red_active {
	background: url(../images/ui/button_red_active.png) repeat-x;
}

.button-blue {
  background: url(../images/ui/menu_active_a.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #058cf7), color-stop(1, #035de7));
  background: -moz-linear-gradient(top center, #058cf7 0%, #035de7 100%);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #0456c9;
	color: #fff;
	display: inline-block;
	font-size: 12px;
    font-weight: bold;
	line-height: 27px;
	margin: 8px 0 0;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
	height: 28px;
    text-shadow: #4a8fef 0 1px 0;
}

.button-blue:active,
.button-blue_active {
	background: url(../images/ui/menu_active_a.png) repeat-x;
}

.button-red.big, .button-blue.big {
  height: 44px;
  font-size: 20px;
  line-height: 44px;
}

.button.float_right, .button-orange.float_right, .button-red.float_right {
	margin-right: 7px;
}

.button.float_left, .button-orange.float_left, .button-red.float_left {
	margin-left: 7px;
}

/* `Chrome
----------------------------------------------------------------------------------------------------*/

.chrome_light {
	background: #bbb url(../images/ui/chrome_light.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #bbb));
	background: -moz-linear-gradient(top center, #fff 0%, #bbb 100%);
	color: #777;
	text-shadow: #fff 0 1px 0;
}

.chrome_dark {
	background: #333 url(../images/ui/chrome_dark.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #333));
	background: -moz-linear-gradient(top center, #666 0%, #333 100%);
}

.chrome_dark .button {
	background: #222 url(../images/ui/button_dark.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(1, #222));
	background: -moz-linear-gradient(top center, #999 0%, #222 100%);
	border-color: #000 #333 #666;
}

.chrome_dark .button:active,
.chrome_dark .button_active {
	background: #000 url(../images/ui/button_dark_active.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
	background: -moz-linear-gradient(top center, #666 0%, #000 100%);
}

.chrome_dark,
.chrome_dark a {
	color: #fff;
	text-shadow: #000 0 -1px 0;
}

.chrome_brown {
    background: url(../images/ui/bgHeaderBrown.png) repeat-x;
	color: #300d31;
	text-shadow: #fff 0 1px 0;
}

.chrome_brown .subText {
    color: #5b5724;
	text-shadow: #f1f0dd 0 1px 0;
    font-size: .85em;
}

.chrome_purple {
    background: url(../images/ui/bgFooter.gif) repeat-x;
	color: #fff;
	text-shadow: #000 0 1px 0;
}

/* `Search
----------------------------------------------------------------------------------------------------*/

#q {
	vertical-align: baseline;
	width: 220px;
}

/* `Headers + Footers
----------------------------------------------------------------------------------------------------*/

.header_upper,
.header_lower,
.footer_upper,
.footer_lower {
	left: 0;
	right: 0;
	height: 45px;
}

.header_upper,
.header_lower {
	border-bottom: 1px solid #c1c08b;
}

.header_upper {
    text-align: center;
    line-height: 21px;
}

.footer_upper,
.footer_lower {
	border-top: 1px solid #c1c08b;
}

.header_upper {
	font-size: 18px;
	top: 0;
}

.header_lower {
	top: 46px;
}

.footer_upper {
	bottom: 46px;
}

.footer_lower {
	bottom: 0;
}

.siteLogo {
    background: url(../images/logoClipArtLeft.png) 0 2px no-repeat;
    padding-left: 50px;
    margin-left: 24px;
    width: 300px;
    float: left;
}

.siteLogoRight {
    float: left;
    width: 50px;
    height: 45px;
    background: url(../images/logoClipArtRight.png) 0 3px no-repeat;
}

/* `Main
----------------------------------------------------------------------------------------------------*/

#main {
	top: 0;
	left: 251px;
	right: 0;
	bottom: 0;
	min-width: 765px;
}

#main_content {
	background: #fff;
	left: 0;
	right: 0;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#main_content_inner {
	/*
		1px bottom padding = fixes Opera bug.
	*/
	padding: 20px 20px 1px;
}

/* `Sidebar
----------------------------------------------------------------------------------------------------*/

#sidebar {
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
}

#sidebar_content {
	background: #8db8f7;
	left: 0;
	right: 0;
}

#sidebar_menu,
#sidebar_menu li {
	font-weight: bold;
    font-size: 15px;
	list-style: none;
	margin: 0;
}

#sidebar_menu a {
	border-bottom: 1px solid #ddd;
	color: #333;
	display: block;
	padding: 10px 20px 10px 30px;
	position: relative;
	text-decoration: none;
	/*
		Work around for iScroll.js
		Forces <a> without href="#"
		to retain the hover state.
	*/
	cursor: pointer;
}

#sidebar_menu .active > a {
	background: #035de7 url(../images/ui/menu_active_a.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #058cf7), color-stop(1, #035de7));
	background: -moz-linear-gradient(top center, #058cf7 0%, #035de7 100%);
	color: #fff;
}

#sidebar_menu ul {
	display: none;
}

#sidebar_menu .expanded > a {
	background: #eee url(../images/ui/menu_expanded.png) repeat-x left bottom;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #fff));
	background: -moz-linear-gradient(top center, #eee 0%, #fff 100%);
	color: #ccc;
	text-shadow: #fff 0 1px 0;
}

#sidebar_menu_home .abs,
#sidebar_menu .toggle_arrow {
	font-size: 0;
	overflow: hidden;
	left: 10px;
	width: 13px;
	height: 14px;
}

#sidebar_menu_home .abs {
	background: url(../images/ui/menu_home.png) no-repeat;
	top: 12px;
}

#sidebar_menu .toggle_arrow {
	background: url(../images/ui/toggle_arrow.png) no-repeat;
	top: 13px;
}

#sidebar_menu_home.active .abs,
#sidebar_menu .expanded > a .toggle_arrow {
	background-position: 0 -14px;
}

/* `Hide Sidebar
----------------------------------------------------------------------------------------------------*/

.is_portrait #main {
	left: 0;
}

#button_navigation {
	display: none;
}

.is_portrait #button_navigation {
	display: block;
}

#nav_arrow,
.is_portrait #sidebar,
.is_portrait #sidebar .header_upper {
	display: none;
}

.is_portrait #sidebar {
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
	background: #000;
	top: 45px;
	left: 8px;
	bottom: auto;
	padding: 1px;
}

.is_portrait #sidebar_search_form {
	margin: 0 0 1px;
}

.is_portrait #sidebar > * {
	position: static !important;
}

html .is_portrait #sidebar > #nav_arrow {
	position: absolute !important;
	background: url(../images/ui/nav_arrow.png) no-repeat;
	display: block;
	top: -6px;
	left: 33px;
	right: auto;
	bottom: auto;
	width: 11px;
	height: 6px;
}

/* Popups
----------------------------------------------------------------------------------------------------*/
.popup-top {
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
	background: #000;
    position: absolute;
	top: 45px;
	left: 260px;
	bottom: auto;
	padding: 1px;
    width: 400px;
    overflow: auto;
}

.is_portrait .popup-top {
    left: 100px;
}

.popup-top > .nav_arrow {
    position: absolute !important;
	background: url(../images/ui/nav_arrow.png) no-repeat;
	display: block;
    z-index: 1000;
	top: -6px;
	left: 33px;
	right: auto;
	bottom: auto;
	width: 11px;
	height: 6px;
}

.popup-content {
    background: #f5f5f5;
    padding: 12px;
}

/* Header bar
----------------------------------------------------------------------------------------------------*/
.header-bar {
    padding: 3px 0 1px 6px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #7ec252;
    background: #8acd5f url(../images/ui/bgGreenBar.png) repeat-x;
    cursor: pointer;
    margin: 12px 24px 12px 0;
}

.header-bar h2 {
    color: #2b6508;
    margin-bottom: 0;
    text-shadow: 044cb9 0 1px 0;
}

.header-bar.blue {
    margin-top: 0px;
    background: #035ee7 url(../images/ui/bgBlueBar.png) repeat-x;
    border: 1px solid #035ee7;
}

.header-bar.blue h2 {
    color: #fff;
    margin-bottom: 0;
    text-shadow: #035ee7 0 1px 0;
}

/* Header icons
----------------------------------------------------------------------------------------------------*/
h2.strategies {
    min-height: 25px;
}

h2.video {
    background: url(../images/icons/film32.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.skills {
    background: url(../images/icons/iconTopics.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.examples {
    background: url(../images/icons/icon_examples.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.powerpoint {
    background: url(../images/icons/icon_ppt.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.template {
    background: url(../images/icons/icon_template.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.articles {
    background: url(../images/icons/icon_publications.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.resources {
    background: url(../images/icons/icon_projects.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

blockquote {
	border-top: 1px solid #C1BF8E;
	border-bottom: 1px solid #C1BF8E;
	padding: 12px 12px 12px 50px;
	background: #F5F5DF url(../images/icons/pullquoteLeftOrange.png) 12px 12px no-repeat;
    max-width: 650px;
	margin-bottom: 12px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

div.box {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    border: 2px solid #C1BF8E;
    padding: 6px;
}

.definition {
    color: #07a830;
    font-size: 1em;
}

.toolTipContent {
    display: none;
}

table tr td {
    padding: 6px;
}

table.welcomeTable img {
    max-width: 90px;
    max-height: 147px;
    border: 1px solid #000;
}

/* Slideshow stuff
----------------------------------------------------------------------------------------------------*/
#slideshowWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: -18px;
    margin-bottom: 24px;

}

ul#slideshow {
    border: 9px solid #ccc;
    list-style: none outside none;
    margin: 5% auto auto;
    overflow: hidden;
    padding: 3px;
    -moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

ul#slideshow li {
    margin-left: 0 !important;
    cursor: pointer;
}

.strategies li {
    color: #06c;
    padding-bottom: 9px;
}

/* Qtip styles
----------------------------------------------------------------------------------------------------*/
.qtip-content {
    line-height: 20px !important;
    
}

.qtip-wrapper {
    max-width: 800px !important;
    width: 500px;
    -moz-box-shadow:    0px 0px 7px #666;
    -webkit-box-shadow: 0px 0px 7px #666;
    box-shadow:         0px 0px 7px #666;
    border-radius: none !important;
}

.qtip {
    background: none !important;
}

/* To get scrolling divs to flick-scroll on iPad */
