h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	line-height: 1;
}

h1 {
    color: #990000;
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}

/* `Header bar
----------------------------------------------------------------------------------------------------*/
.header-bar {
    width: 100%;
    padding: 6px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #7ec252;
    background: #8acd5f url(../images/ui/bgGreenBar.png) repeat-x;
    cursor: pointer;
    margin-bottom: 12px;
}

.header-bar h2 {
    color: #2b6508;
    margin-bottom: 0;
    text-shadow: #c9ebb4 0 1px 0;
}

.header-bar.blue {
    margin-top: 0px;
    background: #035ee7 url(../images/ui/bgBlueBar.png) repeat-x;
    border: 1px solid #035ee7;
}

.header-bar.blue h2 {
    color: #fff;
    margin-bottom: 0;
    text-shadow: #035ee7 0 1px 0;
}

/* `Header icons
----------------------------------------------------------------------------------------------------*/
h2.strategies {
    background: url(../images/icons/iconTopics.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.video {
    background: url(../images/icons/film32.png) no-repeat;
    padding-left: 40px;
    min-height: 32px;
}

h2.skills {
    background: url(../images/icons/icon_skills.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.examples {
    background: url(../images/icons/icon_examples.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.articles {
    background: url(../images/icons/icon_publications.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.resources {
    background: url(../images/icons/icon_projects.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

.definition {
    color: #e06023;
    font-size: 1em;
    background-color: #eee;
}

h1.subPageHeader {
    color: #0482f3;
}

div.box {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    border: 2px solid #C1BF8E;
    padding: 6px;
}

.button-red {
	background: url(images/ui/button_red.png) repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #990000;
	color: #fff;
	display: inline-block;
	font-size: 12px;
    font-weight: bold;
	line-height: 27px;
	margin: 8px 0 0;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
	height: 28px;
    text-shadow: #990000 0 1px 0;
}

.button-blue {
    background: url(images/ui/menu_active_a.png) repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #0456c9;
	color: #fff;
	display: inline-block;
	font-size: 12px;
    font-weight: bold;
	line-height: 27px;
	margin: 8px 0 0;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
	height: 28px;
    text-shadow: #4a8fef 0 1px 0;
}

.button-orange {
	background: url(images/ui/button_orange.png) repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #df5f22;
	color: #fff;
	display: inline-block;
	font-size: 12px;
    font-weight: bold;
	line-height: 27px;
	margin: 8px 0 0;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
	height: 28px;
    text-shadow: #df5f22 0 1px 0;
}

/* Header icons
----------------------------------------------------------------------------------------------------*/
h2.strategies {
    min-height: 25px;
}

h2.video {
    background: url(../images/icons/film32.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.skills {
    background: url(../images/icons/iconTopics.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.examples {
    background: url(../images/icons/icon_examples.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.powerpoint {
    background: url(../images/icons/icon_ppt.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.template {
    background: url(../images/icons/icon_template.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.articles {
    background: url(../images/icons/icon_publications.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

h2.resources {
    background: url(../images/icons/icon_projects.png) no-repeat;
    padding: 3px 0 0 40px;
    min-height: 32px;
}

blockquote {
	border-top: 1px solid #C1BF8E;
	border-bottom: 1px solid #C1BF8E;
	padding: 12px 12px 12px 50px;
	background: #F5F5DF url(../images/icons/pullquoteLeftOrange.png) 12px 12px no-repeat;
    max-width: 650px;
	margin-bottom: 12px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}